<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TeamDevApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body ng-app="TeamCollabApp">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="#">TeamDevApp</a>
    </nav>
    <div class="row fill">
            <div ng-controller="UserCtrl">

            </div>
            <ul id="projectNavCtrl" class="col-md-3 fill" ng-controller="ProjectNavCtrl">
                <div ng-include="'contextmenu.html'"></div>
                <button class="btn btn-success" ng-click="addRootProj()">Add Root Project</button>
                <li ng-repeat="project in projects" ng-include="'tree_item_renderer.html'"></li>
            </ul>
            <div id="projectMain" ng-controller="ProjectCtrl" class="col-md-9 fill">
              <div id="projectTitle" class="row">
                <div ng-hide="editTitle" class="fill">
                  <h3 ng-click="editTitle = true">{{properties.title}}</h3>
                </div>
                <div ng-show="editTitle" class="fill col-md-12">
                  <form ng-submit="editTitle = false">
                    <input class="fill col-md-12" ng-model="properties.title" input>
                  </form>
                </div>
              </div>
              <div id="projectBody" class="row">

                <div id="projectChat" class="col-md-9 fill">
                  <div class="row fill">

                    <div id="projectChatLog" class="col-md-12">
                      <p id="{{post.id}}" ng-repeat="post in chatLog">
                        {{post.username}} : {{post.text}}
                      </p>
                    </div><!--/projectChatLog-->

                    <div id="projectChatPost" class="col-md-12">
                        <input post-box>
                    </div><!--/projectChatPost-->

                  </div>
                </div> <!--/projectChat-->

                <div id="projectProperties" class="col-md-3 fill">
                  <!--<div ng-repeat="field in properties">
                    {{field.name}}: <input ng-model="field.value">
                  </div>-->
                  <textarea json ng-model='custom' style="background-color:{{goodPrj}}"class="col-md-12 fill" rows=13 ></textarea>
                      <!-- json filter is already built into Angular, see http://docs.angularjs.org/api/ng.filter:json -->
                </div> <!--/projectProperties-->
              </div>
            </div> <!--/projectMain-->
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/directives.js"></script>
    <script type="text/ng-template"  id="tree_item_renderer.html">

        <table>
          <tr>
            <td ng-show="projectContainsChildren(project)">
              <button class="btn btn-default" ng-click="expand(project)" ng-show="project.collapsed">+</button>
            </td>
            <td ng-show="projectContainsChildren(project)">  
              <button class="btn btn-default" ng-click="collapse(project)" ng-hide="project.collapsed">-</button>
            </td>
            <td>
              <button ng-click="setProject(project)" ng-right-click="contextMenu(project)" class="btn">{{project.properties.title}}</button>
            </td>
          </tr>
        </table>
        <ul ng-show="!project.collapsed">
            <li ng-repeat="project in project.children" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </script>
    <script type="text/ng-template"  id="contextmenu.html">
      <div id="contextMenu" class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;"
          click-anywhere-but-here="processContextMenu(-1)">
          <li ng-repeat="item in contextMenuItems">
            <a tabindex="-1" class="contextmenuitem-{{$index}}" ng-click="processContextMenu($index)">{{item.name}} </a>
          </li>
        </ul>
      </div>
    </script>
    
  </body>
</html>