
html, body {
    height: 100%;
}

body {
	padding-top: 50px;
}

#projectChatLog{
	padding-top:10px;
	height: 80%;
	min-height:80%;
	overflow:scroll;
	overflow-x:hidden;
}

#projectTitle{
	height:10%;
}

#projectProperties {
	padding: 0;
}

#projectTitle h3{
	margin: 10px;
	margin-top:5;
}

#projectTitle input{
	font-size: 24px;
	height:40px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	border: none;
}

#projectTitle div{
	padding: 0;
}

#projectNavCtrl {
	overflow:scroll;
	list-style: none;
}

#projectNavCtrl  ul{
	list-style: none;
}

#projectBody{
	height:83%;
}

#projectChatPost{
	height: 20%;
	padding:0;
}

#projectChatPost form{
	padding:0;
}

#projectChatPost textarea{
	border-radius: 0;
}

/*div{
	border: solid black 1pt;
}*/

.fill { 
    min-height: 100%;
    height: 100%;
}

#contextMenu {
  position: absolute;
  display:none;
}

.btn{
	margin:5px;
}